<footer>
    <div class="flex">
        <div class="col">
            <a href="" title="" class="logo">V2Text</a>
            <div class="des">Seamlessly Convert WhatsApp and Telegram Voice Notes to Text using our V2Text mobile application.</div>
            <div class="copyright">© V2Text 2023.</div>
        </div>
        <div class="col">
            <h4>QuickLinks</h4>
            <ul>
                <li><a href="" title="Home">Home</a></li>
                <li><a href="" title="Download Now">Download Now</a></li>
                <li><a href="" title="FAQs">FAQs</a></li>
                <li><a href="" title="Contact Us">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>