<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js"></script>

<script>
    $(document).ready(function () {
        $('.navbar-toggler').on('click', function () {
            $(this).toggleClass('active');
            $('.navbar-collapse').toggleClass('show');
            $('body').toggleClass('modal-open');
        });

        $('.slider-img').slick({
            infinite: true,
            autoplay: true,
            fade: true,
            autoplaySpeed: 1000,
            slidesToShow: 1,
            arrows: false,
            pauseOnHover:false
        });

        new Typed('#typed',{
            strings : ['Transcribe incoming voice notes','Transcribe outing voice notes'],
            typeSpeed : 80,
            delaySpeed : 90,
            loop : true
        });
    });
    /*var i=2;
    setInterval(function (){
        $('.transcribe span').removeClass('active');
        $('.transcribe .line-'+i+'').addClass('active');
        i+=1;
        if(i==3){i=1;}
    },5000);*/
</script>
</body>
</html>