<main>
    <div class="v2text-intro pr">
        <div class="content">
            <h1>Effortless Voice-to-Text Transcription <span>with V2Text!</span></h1>
            <p>Seamlessly Convert WhatsApp and Telegram Voice Notes to Text using our <br> V2Text mobile application.</p>
            <div class="transcribe flex-lc">
                <span id="typed"></span>
                <!--<span class="line-1 active">Transcribe incoming voice notes</span>
                <span class="line-2">Transcribe outing voice notes</span>-->
            </div>
        </div>
        <div class="img-wrapper slider-img">
            <div class="item"><img src="./assets/img/phone-top-1.png" alt=""></div>
            <div class="item"><img src="./assets/img/phone-top-2.png" alt=""></div>
            <div class="item"><img src="./assets/img/phone-top-3.png" alt=""></div>
        </div>
    </div>
    <div class="v2text-statistical">
        <ul class="statistical-list flex">
            <li>
                <div class="number">+200M</div>
                <div class="flex-lc">
                    <i class="icon icon-download"></i>
                    <span>Download</span>
                </div>
            </li>
            <li>
                <div class="number">+480M</div>
                <div class="flex-lc">
                    <i class="icon icon-check"></i>
                    <span>Requests</span>
                </div>
            </li>
            <li>
                <div class="number">+180M</div>
                <div class="flex-lc">
                    <i class="icon icon-ratting"></i>
                    <span>Rattings</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="v2text-download pr">
        <h2 class="title text-center">Download Now</h2>
        <div class="content">
            <h3>Get Voice to text converter for WhatsApp and telegram</h3>
            <p>For translating WhatsApp and Telegram voice messages into text with just one click. Download now and bridge the gap between speaking and typing!"</p>
            <div class="download flex">
                <a href="" title="" class="btn-ios">Download on appstore</a>
                <a href="" title="" class="btn-android">Download on google play</a>
            </div>
        </div>
        <div class="img-wrapper slider-img">
            <div class="item"><img src="./assets/img/phone-bt-1.png" alt=""></div>
            <div class="item"><img src="./assets/img/phone-bt-2.png" alt=""></div>
            <div class="item"><img src="./assets/img/phone-bt-3.png" alt=""></div>
            <div class="item"><img src="./assets/img/phone-bt-4.png" alt=""></div>
            <div class="item"><img src="./assets/img/phone-bt-5.png" alt=""></div>
            <div class="item"><img src="./assets/img/phone-bt-6.png" alt=""></div>
            <div class="item"><img src="./assets/img/phone-bt-7.png" alt=""></div>
        </div>
    </div>
</main>