:root{
  --violet: #673AB7;
}
body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
body.modal-open{overflow: hidden;}

@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  &::after{
    content: "";
    width: vw(1092px); height: vw(1331px);
    background: url("#{$img-path}/decor-1.svg") no-repeat 0 0/contain;
    position: absolute; top: 0; right: 0; z-index: -1;
  }
}
.navbar{
  height: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: vw(98px) vw(151px);
  border-radius: 0; border: none; transition: .4s;
  .logo{width: vw(104px);}
  .navbar-toggler{display: none;}
}
.navbar-collapse{
  padding: 0; flex-grow: initial; flex-basis: auto;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 vw(170px); align-items: center; flex-direction: row;
  >*+*{margin-left: vw(75px);}
  > li > a{display: block; font-size: vw(36px); font-weight: 600; color: rgba(#000,.87); position: relative;}
  > li > a:hover{color: #673AB7;}
  .active{
    color: #673AB7;
    &::after{
      content: "";
      width: vw(16px); height: vw(16px);
      background: var(--violet); border-radius: 50%;
      position: absolute; left: 50%; transform: translateX(-50%); bottom: vw(-33px);
    }
  }
}
//main
main{}
.v2text-intro{
  padding: vw(60px) vw(126px) vw(30px);
  .content{
    width: 60%; position: relative;
    &::after,&::before{content: "";  z-index: -1;}
    &::before{
      width: vw(51px); height: vw(103px);
      background: url("#{$img-path}/triangle.svg") no-repeat 0 0/contain;
      position: absolute; left: vw(-126px); top: vw(-20px);
      animation: movie 4s infinite linear;
    }
    &::after{
      width: vw(215px); height: vw(210px);
      background: url("#{$img-path}/dc-dot.svg") no-repeat 0 0/contain;
      display: block; margin: vw(230px) 0 0 vw(-10px);
      animation: tada 5s infinite linear;
    }
  }
  .img-wrapper{
    width: 46.4%; position: absolute; top: vw(-135px); right: vw(70px);
    &::after{
      content: "";
      width: vw(190px); height: vw(186px);
      background: url("#{$img-path}/oval.svg") no-repeat 0 0/contain;
      position: absolute; bottom: vw(90px); left: vw(405px); z-index: -1;
      animation: rotate 2s infinite linear;
    }
  }
  .transcribe{
    font-weight: 600; font-size: vw(40px); color: #937EB9;
    span{display: block;}
    span.active{opacity: 1;}
    .line-1.active{width: 28ch; animation: typing 4s steps(31), blink .5s step-end infinite alternate;}
    .line-2.active{width: 26ch; animation: typing 4s steps(29), blink .5s step-end infinite alternate;}
  }
  h1{margin-bottom: vw(40px); font-size: vw(70px); color: rgba(#000,.87); font-weight: 400; line-height: 1.34;}
  h1 span{font-weight: 700; color: var(--violet);}
  p{margin-bottom: vw(56px); color: rgba(#000,.54); font-size: vw(45px); line-height: 1.3;}
}
.v2text-statistical{
  padding: vw(15px) 0 vw(115px);
  .statistical-list{
    justify-content: center;
    >*+*::after{
      content: "";
      width: vw(3px); height: vw(164px);
      background: #D1C4E9;
      position: absolute; left: vw(-2px); top: 50%; transform: translateY(-50%);
    }
    li{padding: 0 vw(100px); text-align: center; position: relative;}
    .number{margin-bottom: vw(20px); font-weight: 600; font-size: vw(70px); color: var(--violet);}
    span{font-size: vw(55px); color: rgba(#000,.54);}
    .icon{margin-right: vw(18px);}
    .icon-download{width: vw(55px); height: vw(57px); background: url("#{$img-path}/icon-download.svg") no-repeat 0 0/contain;}
    .icon-check{width: vw(58px); height: vw(58px); background: url("#{$img-path}/icon-check.svg") no-repeat 0 0/contain;}
    .icon-ratting{width: vw(55px); height: vw(57px); background: url("#{$img-path}/icon-rating.svg") no-repeat 0 0/contain;}
  }
}
.v2text-download{
  padding: 0 vw(126px) vw(267px);
  &::after{
    content: "";
    width: 100%; height: vw(1798px);
    background: url("#{$img-path}/bg-dl.svg") no-repeat 0 0/contain;
    position: absolute; bottom: vw(-350px); left: 0; z-index: -1;
  }
  .content{width: 56%;}
  h3{margin-bottom: vw(36px); font-size: vw(50px); font-weight: 600; color: rgba(#000,.87); line-height: 1.34;}
  p{font-size: vw(42px); line-height: vw(64px);}
  .download{
    margin-top: vw(70px);
    >*+*{margin-left: vw(38px);}
    a{width: vw(276px); height: vw(95px); font-size: 0;}
    a:hover{@include hover;}
    .btn-ios{background: url("#{$img-path}/ios.png") no-repeat 0 0/contain;}
    .btn-android{background: url("#{$img-path}/google.png") no-repeat 0 0/contain;}
  }
  .img-wrapper{
    width: 56.6%;
    position: absolute; top: vw(-80px); right: vw(130px);
    &::after,&::before{content: ""; position: absolute; z-index: -1;}
    &::after{
      width: vw(672px); height: vw(535px);
      background: url("#{$img-path}/dot-grid.svg") no-repeat 0 0/contain;
      top: vw(445px); right: vw(85px);
      animation: flash 1s infinite linear;
    }
    &::before{
      width: vw(743px); height: vw(622px);
      background: url("#{$img-path}/rectangle.svg") no-repeat 0 0/contain;
      top: vw(310px); right: vw(40px);
      animation: jello 5s infinite linear;
    }
  }
}

@-webkit-keyframes typing {
  from {
    width: 0
  }
}
@keyframes typing {
  from {
    width: 0
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent
  }
}
@keyframes blink {
  50% {
    border-color: transparent
  }
}


footer{
  padding: vw(66px) vw(126px) vw(82px); background: #683BB8; color: #fff;
  .col{max-width: vw(615px); padding: 0; margin-right: vw(230px);}
  .logo{font-weight: 700; font-size: vw(30px); color: #fff;}
  .des{margin: vw(25px) 0 vw(30px); font-size: vw(20px); line-height: vw(38px);}
  .copyright{color: rgba(194, 192, 192, 0.87); font-size: vw(18px);}
  h4{margin-bottom: vw(15px); font-weight: 600; font-size: vw(20px); color: rgba(255, 255, 255, 0.87);}
  ul{
    >*+*{margin-top: vw(17px);}
    li{list-style: none;}
    a{color: rgba(255, 255, 255, 0.87); font-size: vw(20px);}
    a:hover{color: #fff;}
  }
}

@-webkit-keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@-webkit-keyframes movie {
  0%{transform: rotate(15deg) translateY(100px);}
  50%{transform: rotate(0deg) translateY(-100px);}
  100%{transform: rotate(15deg) translateY(100px);}
}
@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

//uikit
.pr{position: relative;}
.txt-md{font-size: 18px; line-height: 24px;}
.txt-lg{font-size: 20px; line-height: 28px;}
button{
  cursor: pointer; border: none;
  &:focus{outline: none;}
}
.bg-white{background: #fff;}
h2.title{
  margin-bottom: vw(75px);
  color: rgba(#000,.87);
  font-size: vw(80px);
  font-weight: 600;
  &::after{
    content: "";
    width: vw(118px); height: vw(15px); display: block;
    margin: vw(16px) auto 0;
    border-radius: 9999px;
    background: linear-gradient(169deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
  }
}

@media (max-width: 1024px) {
  .navbar{
    width: 100%; justify-content: flex-start;
    .logo{
      margin-right: 0; position: relative; z-index: 999;
      &.show{position: fixed;}
    }
    .navbar-toggler{display: block;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    position: fixed; left: 0; top: -100%;
    width: 100%; height: auto;
    background: #673AB6;
    border-radius: 0 0 53px 53px;
    transition: all .4s ease-out;
    z-index: 91; overflow: hidden;
    &.show{top: 0;}
  }
  .navbar-toggler{
    display: block;
    width: 20px;
    height: 14px;
    padding: 0;
    background: none; border: none;
    position: absolute; right: 15px;
    span{
      display: block; width: 14px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 20px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggler.active{
    position: fixed; z-index: 999;
    span{width: 20px; transform: rotate(45deg);}
    span:after{width: 20px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%; margin: 0;
    flex-direction: column;
    margin-top: 55px;
    padding: 80px 0;
    >*+*{margin: 22px 0 0;}
    > li > a{text-align: center; font-size: 16px; color: #fff;}
    .active{
      color: #fff;
      &::after{background: #fff;}
    }
  }

  footer{
    .col{max-width: 45%; margin-right: 5%;}
    .logo{font-size: 22px;}
    .des{margin: 20px 0 24px; font-size: 16px; line-height: 1.4;}
    .copyright{font-size: 14px;}
    h4{margin-bottom: 20px; font-size: 18px;}
    ul{
      >*+*{margin-top: 15px;}
      a{font-size: 18px;}
    }
  }
}

@media (max-width: 858px) {
  .navbar{
    padding: vwt(30px) vwt(42px);
    .logo{width: vwt(68px);}
  }
  .navbar-collapse{border-radius: 0 0 vwt(53px) vwt(53px);}
  .navbar-nav{padding: vwt(153px) 0 vwt(80px); margin-top: 0;}
  .v2text-intro{
    padding: vwt(80px) vwt(60px) 0;
    .img-wrapper{top: vwt(-20px);}
  }
  .v2text-download{padding: 0 vwt(62px) vwt(120px);}
  footer{padding: vwt(30px) vwt(62px);}
}
@media (max-width: 858px) {
  header::after{display: none;}
  .navbar-toggler{
    span{background: #000;}
    span:before,span:after{background: #000;}
  }
  .navbar-toggler.active{
    span{background: #fff;}
    span:before,span:after{background: #fff;}
  }
  .v2text-intro{
    padding-top: vwt(130px);
    .content{
      width: 100%; text-align: center;
      &::after{margin: 0; position: absolute; bottom: 0;}
      &::before{
        width: vwt(55px); height: vwt(56px);
        background: url("#{$img-path}/triangle-1.svg") no-repeat 0 0/contain;
        left: vwt(-62px); top: vwt(-20px);
      }
    }
    h1{margin-bottom: vwt(30px); font-size: vwt(50px);}
    p{margin-bottom: vwt(60px); font-size: vwt(40px);}
    .transcribe{
      font-size: vwt(30px);
      .line-1.active{width: 29ch;}
    }
    .img-wrapper{width: 74.8%; position: relative; top: vwt(15px); margin: 0 auto;}
  }
  .v2text-statistical{
    padding: 0 0 vwt(116px);
    .statistical-list{
      >*+*::after{width: vwt(3px); height: vwt(45px);}
      .number{margin-bottom: vwt(5px); font-size: vwt(40px);}
      .icon-download,.icon-ratting{width: vwt(36px); height: vwt(38px);}
      .icon-check{width: vwt(34px); height: vwt(34px);}
      span{font-size: vwt(30px);}
    }
  }
  .v2text-download{
    padding-bottom: 0; margin-bottom: vwt(-220px);
    &::after{height: vwt(1404px); background: url("#{$img-path}/bg-dl-m.svg") no-repeat 0 0/contain; bottom: 0;}
    .content{width: 100%; text-align: center;}
    h3{margin-bottom: vwt(40px); font-size: vwt(40px);}
    p{font-size: vwt(35px); line-height: 1.36;}
    .download{
      justify-content: center;
      margin-top: vwt(60px);
      >*+*{margin-left: vwt(30px);}
      a{width: vwt(225px); height: vwt(77px);}
    }
    .img-wrapper{
      width: 120%;
      position: relative; top: vwt(-90px); right: 20%;
      &::after{width: vwt(559px); height: vwt(379px); top: vwt(337px); right: vwt(68px); background: url("#{$img-path}/dot-grid-1.svg") no-repeat 0 0/contain;}
      &::before{width: vwt(541px); height: vwt(434px); top: vwt(260px); right: vwt(80px);}
    }
  }
  footer{
    .col{max-width: 50%;}
    .col:nth-child(2){display: none;}
  }
  h2.title{
    margin-bottom: vwt(74px);
    font-size: vwt(55px);
    &::after{width: vwt(111px); height: vwt(13px); margin-top: vwt(20px);}
  }
}
@media (max-width: 480px) {
  footer .col{max-width: 100%;}
}